<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,700;0,900;1,300;1,400&family=Lilita+One&family=Lobster&display=swap" rel="stylesheet">


<style>
body {
      margin: 0;
      padding: 0;
    }
.navbar {
      background-color: #007bff;
      font-family: "Lato", sans-serif;
      color: #fff;
      height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
    }

    /* Estilos para el nombre de la página */
    .navbar h1 {
      font-size: 18px;
      margin: 0;
    }

    /* Estilos para el enlace de volver atrás */
    .navbar a {
      color: #fff;
      text-decoration: none;
      display: flex;
      align-items: center;
    }

    /* Estilos para el icono de la flecha */
    .navbar a img {
      width: 20px;
      height: 20px;
      margin-right: 5px;
    }

    .container {
      max-width: 370px; /* Establecer el ancho máximo */
      margin: 0 auto; /* Centrar horizontalmente */
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

  h2 {
    font-family: Lato, sans serif;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }

  .field {
    margin-bottom: 15px;
    width: 310px
  }

  label {
    font-weight: bold;
    color: #333;
    display: block; /* Hacer que la etiqueta sea de bloque para que esté encima del campo */
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .actions {
    margin-top: 20px;
  }

  .btn-primary {
  background-color: #007bff;
  width: 100%; /* Ancho al 100% del contenedor */
  color: #fff;
  padding: 10px 0; /* Cambiar el espaciado vertical en lugar de horizontal */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

  .btn-primary:hover {
    background-color: #0056b3;
  }

  .remember-me {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }

  .remember-me input[type="checkbox"] {
    margin-right: 10px;
  }


  /* Estilos para los enlaces al final del formulario */
  .form-links {
    margin-top: 20px;
    text-align: center;
  }

  .form-links a {
    color: #007bff;
    text-decoration: none;
    margin: 0 10px;
    display: flex;
    align-items: center;
    margin-top: 10px;
  }

  .form-links a:hover {
    text-decoration: underline;
  }
</style>
</head>
<body>
  <div class="navbar">
    <a href="#" onclick="history.back()">
      <img src="https://img.icons8.com/ios-filled/48/ffffff/long-arrow-left.png" alt="Back" />
      Back
    </a>
    <h1>Forgot Password</h1>
  </div>

  <div class="container">
    <h2>Forgot your password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
      </div>

      <div class="actions">
        <%= f.submit "Send me reset password instructions", class: "btn-primary" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</body>
</html>
