<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,700;0,900;1,300;1,400&family=Lilita+One&family=Lobster&display=swap" rel="stylesheet">
<%= stylesheet_link_tag "application" %>


</head>
<body>
  <div class="navbar">
  <%= link_to destroy_user_session_path, method: :delete do %>
    <img src="https://img.icons8.com/?size=50&id=26215&format=png" alt="Back" />
      Log Out
    </a>
    <% end %>
    <h1>Categories</h1>
  </div>

  <div class="container">
    <main class="splash_screen">
      <div class="app_name">
        <main>
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <% if @categories.any? %>
            <div class="card-list">
              <% @categories.each do |category| %>
                <div class="card hover">
                  <div class="flex-row">
                    <div class="cat-image">
                      <%= image_tag category.icon_link.presence || 'https://img.icons8.com/?size=512&id=kLORTzuNOM2d&format=png', alt: "Category Icon" %>
                    </div>
                    <div>
                    <h2><%= link_to category.name, category_expenses_path(category), class: 'text' %></h2>
                    <p><%= l category.created_at.to_date, format: :long %></p>
                    </div>
                  </div>
                  <div class="cat-total">
                    <p>$<%= Expense.where(category_id: category.id).sum(:amount) %></p>
                    <br/>
                  </div>
                </div>
              <% end %>
            </div>
          <% else %>
            <p>No categories found.</p>
          <% end %>

          <!-- Agregamos el nuevo botón "ADD NEW EXPENSE" -->
          <button class="btn-primary" type="button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Add a new category">
            <%= link_to 'ADD NEW CATEGORY', new_category_path %>
          </button>
        </main>
      </div>
    </main>
  </div>
</body>